{% extends "console/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load extras %}

{% block title %}
    OVF {{ form.instance.id }} details
{% endblock %}

{% block heading %}
    Video <{{ form.instance.id }}> details
{% endblock %}

{% block content %}
    <hr>
        {{ form.instance|ovf_status_html }}
    <hr>

    <form>
        {% crispy form %}
    </form>

    <hr>

    <h2>Video metrics</h2>
        {% if ifr_formset.total_form_count == 0 %}
        <div class="alert alert-info" role="alert">
            There were no metrics selected for the original video!
        </div>
        {% else %}
            <div class="container">
                {% crispy ifr_formset ifr_helper %}
            </div>
        {% endif %}
    <hr>

    <h2>Encoded videos</h2>
    <div class="container">
        {% crispy evf_formset evf_helper %}
    </div>

    <hr>

    <a class="btn btn-danger" href="{{ form.instance.id }}/delete" role="button">Delete</a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'console/reload.js' %}"></script>
    <script>
        var reloadIntervalId;
        function reloadUntilStatusIsComplete() {
            if (['D', 'F'].includes($('#id_status').attr('value'))) {
                clearInterval(reloadIntervalId);
            } else {
                reload();
            }
        }
        reloadIntervalId = setInterval(reloadUntilStatusIsComplete, 2000);
    </script>
{% endblock %}

