{% extends "console/base.html" %}

{% load static %}
{% load extras %}

{% block title %}
    Home
{% endblock %}

{% block heading %}
    Videos list
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Filename</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for ovf in page_obj %}
        <tr onclick="window.location='ovf/{{ ovf.id }}';" style="cursor: pointer;">
            <th scope="row">{{ ovf.id }}</th>
            <td>{{ ovf.name }}</td>
            <td>{{ ovf.file_name }}</td>
            <td style="color: {{ ovf|ovf_status_color }};">
                <b>{{ ovf.get_status_display }} {{ ovf|ovf_status_icon }}</b>
            </td>
            <td>{{ ovf.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a class="btn btn-primary" href="create" role="button">Create</a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'console/reload.js' %}"></script>
    <script>
        setInterval(reload, 3000);
    </script>
{% endblock %}
