{% extends "console/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    OVF {{ form.instance.id }} details
{% endblock %}

{% block heading %}
    Video <{{ form.instance.id }}> details
{% endblock %}

{% block content %}
    <form>
        {% crispy form %}
    </form>

    <hr>

    <h2>Video metrics</h2>
    <div class="container">
        {% crispy ifr_formset ifr_helper %}
    </div>

    <hr>

    <h2>Encoded videos</h2>
    <div class="container">
        {% crispy evf_formset evf_helper %}
    </div>

    <hr>

    <a class="btn btn-danger" href="{{ form.instance.id }}/delete" role="button">Delete</a>
{% endblock %}
